{% extends "base.html" %}

{% block content %}

<h2><center>List of Habits</center></h2>
<h2><a href="{% url 'habit_create' %}">Create a Habit</a></h2>


<div>
    {% for habit in habits %}
    <div class="flex-item">
        
        <p id="habit_info"> 
        {% if request.user.is_authenticated and request.user == habit.user %}
        <p class="habit_name">{{ habit.name }}</p>
        <pre class="habit_target"> {{ habit.daily_target }}</pre>
        <a href="{% url 'habit_update' pk=habit.pk %}">Edit Habit</a><br>  
        <a href="{% url 'habit_delete' pk=habit.pk %}">Delete Habit</a><br> 
        {% endif %}
        </p>
    </div>
    {% endfor %}
</div>
{% endblock %}






    
